@import '../../styles/_mixins.scss';
@import '../../styles/_colors.scss';

.calculator {
  margin: 0 auto;
  padding: 10px;
  max-width: 600px;
  border: 1px solid $main;
  @include round(10px);
  .title {
    font-weight: bold;
    span {
      font-weight: normal;
      display: block;
      font-style: italic;
      font-size: .8em;
      line-height: .8em;
      color: lighten($text, 20%);
    }
  }
  .inputFields {
    margin-top: 20px;
    width: 50%;
    display: inline-block;
  }
  .hint {
    cursor: pointer;
    font-size: 80%;
  }
  .buttonHolder {
    margin-top: 20px;
    text-align: center;
    .button {
      @include button($main, darken($main, 20%));
      display: inline-block;
    }
  }
}