@import '../../styles/_mixins.scss';
@import '../../styles/_colors.scss';

.calculator, .result {
  margin: 0 auto;
  padding: 10px;
  border: 1px solid $main;
  @include round(10px);
  .error {
    color: $error;
    font-size: 90%;
    margin-bottom: 10px;;
  }
  .title {
    font-weight: bold;
    span {
      font-weight: normal;
      display: block;
      font-style: italic;
      font-size: .8em;
      line-height: .8em;
      color: $error;
    }
  }
  .inputFields {
    margin-top: 20px;
    width: 50%;
    display: inline-block;
    @media (max-width: 400px) {
      width: 100%;
    }
  }
  .hint {
    cursor: pointer;
    font-size: 80%;
  }
  .buttonHolder {
    margin-top: 20px;
    text-align: center;
    .button {
      @include button($main, darken($main, 20%));
      display: inline-block;
      &:disabled {
        background-color: lightgray;
        cursor: auto;
      }
    }
  }
}

.result {
  margin-top: 20px;
  .title {
    margin-bottom: 10px;
  }
  .needle span, .units span {
    font-weight: bold;
  }
  .units {
    margin-left: 10px;
    color: darken($main, 20%);
    margin-bottom: 10px;
  }
  .target {
    font-style: italic;
    color: lighten($text, 20%);
  }
  span.difference {
    display: block;
    color: lighten($text, 25%);
    font-size: 80%;
    font-weight: normal;
  }
}