@import '../../styles/_colors.scss';

.description {
  padding: 0 10px 10px 10px;
  font-size: 90%;
  .title {
    margin-top: 10px;
    font-weight: bold;
  }
  span {
    font-weight: bold;
    color: darken($main, 20%);
  }
}